body, html{
    margin: 0;
    box-sizing: border-box;
}

.row a {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;

}

.page404 { 
    padding: 40px 0 0 0;
    background:#fff;
    font-family: "Raleway", sans-serif;
}

.page404_bg{
    background-repeat: no-repeat;
    background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
    height: 400px;
    width: 100%;
    background-position: center;
}

.page404_bg h1 {
    font-size: 80px;
}

.link_404 {      
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background: #c90a14;
    margin: 20px 0 0 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top:-50px;
    margin-left: 30px;
    margin-right: 30px;
}

@media (min-width: 1200px) {
    .row h3 {
        font-size:35px;
    }

    .row p {
        font-size: 20px;
    }
}
    
@media (min-width: 500px) and (max-width: 1199px) {
    .row h3 {
        font-size:30px;
    }

    .row p {
        font-size: 20px;
    }
}
    
@media (max-width: 499px) {
    .row h3 {
        font-size: 28px;
    }

    .row p {
        font-size: 18px;
    }
}