html {
    background: var(--color-white);
}

.page404 {
    background: var(--color-white);
    font-family: var(--ff-secondary);
    margin-top: var(--spacing-20);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--spacing-40);
}

.row {
    text-align: center;
    width: 100%;
}

.row a {
    font-family: var(--ff-secondary);
    letter-spacing: 1px;
    text-decoration: none;
    padding-inline: var(--spacing-20);
    padding-block: var(--spacing-10);
}

.page404_bg_area {
    background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
    background-repeat: no-repeat;
    background-position: center;
    mix-blend-mode: darken;
}

.link_404 {      
    color: var(--color-white);
    padding-top: var(--spacing-10);
    padding-left: var(--spacing-20);
    border-radius: var(--spacing-10);
    font-weight: bold;
    text-transform: uppercase;
    background: var(--color-red-primary);
    margin-top: var(--spacing-20);
    display: inline-block;
}

.contant_box_404 {
    margin-top: -50px;
}

@media (min-width: 1200px) {
    .page404_bg_area h1 {
        font-size: var(--fs-100);
    }
    
    .page404 {
        width: 100%;
    }

    .row h3 {
        font-size: var(--fs-36);
    }

    .row p {
        font-size: var(--fs-22);
    }

    .page404_bg_area {
        height: 500px;
    }

    .link_404 {
        display: none;
    }
}
    
@media (min-width: 700px) and (max-width: 1199px) {
    .page404_bg_area h1 {
        font-size: var(--fs-80);
    }

    .row h3 {
        font-size: var(--fs-30);
    }

    .row p {
        font-size: var(--fs-18);
    }

    .page404_bg_area {
        height: 400px;
    }
}
    
@media (max-width: 699px) {
    .page404_bg_area h1 {
        font-size: var(--fs-64);
    }

    .row h3 {
        font-size: var(--fs-26);
    }

    .row p {
        font-size: var(--fs-16);
    }

    .page404_bg_area {
        height: 400px;
    }
}
