body, html{
    margin: 0;
    box-sizing: border-box;
}

.row {
    text-align: center;
}

.row a {
    font-family: "Open Sans", sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
}

.page404 {
    background:#fff;
    font-family: "Raleway", sans-serif;
    padding: 40px 0 0 0;
}

.link_404 {      
    color: #fff !important;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    background: #c90a14;
    margin: 20px 0 0 0;
    display: inline-block;
}

.contant_box_404 {
    margin-top:-50px;
    margin-left: 30px;
    margin-right: 30px;
}

@media (min-width: 1200px) {
    .page404_bg_area h1 {
        font-size: 100px;
    }

    .row h3 {
        font-size:35px;
    }

    .row p {
        font-size: 20px;
    }

    .page404_bg_area {
        background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
        background-repeat: no-repeat;
        height: 500px;
        background-position: center;
    }
}
    
@media (min-width: 500px) and (max-width: 1199px) {
    .page404_bg_area h1 {
        font-size: 80px;
    }

    .row h3 {
        font-size:30px;
    }

    .row p {
        font-size: 18px;
    }

    .page404_bg_area {
        background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
        background-repeat: no-repeat;
        height: 400px;
        background-position: center;
    }
}
    
@media (max-width: 499px) {
    .page404_bg_area h1 {
        font-size: 60px;
    }

    .row h3 {
        font-size: 28px;
    }

    .row p {
        font-size: 15px;
    }

    .page404_bg_area {
        background-image: url("https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif");
        background-repeat: no-repeat;
        height: 400px;
        background-position: center;
    }
}