/*--------------------------------------------------------------
Articles
--------------------------------------------------------------*/ 
.article .article-item .quote-icon-left {
    color: #c90a14;
    font-size: 50px;
}

.article .article-item .quote-icon-left {
    display: inline-block;
    left: -5px;
    position: relative;
}

.article .article-title {
    font-style: italic;
    text-align: center;
}

.article-item .img-articles {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.article-number {
    font-family: "Poppins", sans-serif;    
    margin-right: 10px;
}
  
@media (min-width: 1200px) {
  .article-sticky {
    position: sticky;
    align-self: flex-start;
    top: 20px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .article-number { 
    font-size: 40px; 
    width: 50px;
    margin-top: 20px;
  }

  .article-item {
    width: clamp(80vw, 650px, 85vw);
    padding-left: 1.5rem !important;
    margin-bottom: 40px;
  }

  .article .article-item p {
    margin: 0 15px 0 15px;
    padding: 20px;
    position: relative;
    text-align: justify;
  }

  .article-item .img-equipes {
      width: 90%;
  }

  .article-item .img-repas,
  .article-item .img-poney,
  .article-item .img-symboles,
  .article-item .img-medaille {
      width: clamp(40vw, 300px, 42vw);
      min-width: 300px;
  }
}
  
@media (min-width: 500px) and (max-width: 1199px) {
  .article .article-item {
    box-sizing: content-box;
    text-align: center;
    position: relative;
    margin-bottom: 35px;
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .article-sticky {
    position: sticky;
    align-self: flex-start;      
    margin-left: 20px;
    top: 70px;
    width: 80px;
    overflow-x: hidden;
    overflow-y: auto;  
  }
  
  .article-number {
    font-size: 40px;
    width: 50px;
    margin-top: 33px;
  }

  .article-item {
    width: clamp(90vw, 800px, 100vw);
    padding-left: 1rem !important;
    margin-bottom: 40px;
  }

  .article .article-item p {
    margin: 0 15px 0 15px;
    padding: 20px;
    position: relative;
    text-align: justify;
  }

  .article-item .img-equipes {
    width: 90%;
  }

  .article-item .img-repas,
  .article-item .img-poney,
  .article-item .img-symboles,
  .article-item .img-medaille {
    width: clamp(40vw, 300px, 42vw);
    min-width: 300px;
  }
}
  
@media (max-width: 499px) {
  .article .article-item {
    box-sizing: content-box;
    text-align: center;
    position: relative;
    margin-bottom: 35px;
    padding-top: 10px;
    padding-bottom: 20px;
}
  .article-sticky {
    position: sticky;
    align-self: flex-start;
    margin-left: 20px;
    top: 70px;
    width: 50px;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .article-number {
    font-size: 40px;
    width: 40px;
    margin-top: 33px;
  }

  .article-item {
    width: clamp(70vw, 650px, 75vw);
    margin-bottom: 40px;
  }

  .article .article-item p {
    margin: 0;
    position: relative;
    text-align: justify;
  }

  .article-item .img-equipes {
    display: none;
  }

  .article-item .img-repas,
  .article-item .img-poney,
  .article-item .img-symboles,
  .article-item .img-medaille {
      width: clamp(30vw, 200px, 32vw);
      min-width: 250px;
  }
}