/*--------------------------------------------------------------
General
--------------------------------------------------------------*/
:is(.history, .squad, .role) .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media (min-width: 1200px) {
    :is(.history, .squad, .role) .container {
        max-width: 85%;
    }
}
  
@media (max-width: 1199px) {
    :is(.history, .squad, .role) .container {
        max-width: 90%;
    }
}

/*--------------------------------------------------------------
Company
--------------------------------------------------------------*/
.history .section-title p {
    text-align: justify;
}

.history .section-title p a {
    font-weight: bold;
}

.squad .section-title p {
    text-align: justify;
}

.squad .section-title p a {
    font-weight: bold;
}

.squad .section-title .list-sinistres li:first-child {
    margin-top: var(--spacing-20);
}

.squad .section-title .list-sinistres li {
    margin-bottom: var(--spacing-20);
    display: flex;
    align-content: center;
    vertical-align: center;
}

.squad .section-title .list-sinistres .bx {
    margin-bottom: var(--spacing-20);
    align-content: center;
    margin-right: var(--spacing-20);
}

.squad .section-title .list-sinistres p {
    margin-bottom: var(--spacing-20);
    margin-block: 0;
    align-content: center;
}

.img-company {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-block: var(--spacing-20);
}

.img-company .img-siège-maif {
    border-radius: var(--br-10);
    margin-block: var(--spacing-20);
}

@media (min-width: 800px) {
    .documentation-link,
    .redirect-link {
        font-weight: bold;
        display: inline-block;
        position: relative;
        color: var(--color-red-primary);
    }

    :is(.documentation-link, .redirect-link):after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--color-red-primary);
        transform-origin: bottom right;
        transition: transform 0.25s ease-out;
    }

    :is(.documentation-link, .redirect-link):hover:after {
        transform: scaleX(1);
        transform-origin: bottom left;
    }

    .img-company .img-siège-maif {
        width: 90%;
        border-radius: var(--br-10);
        margin-block: var(--spacing-20);
    }
}

@media (max-width: 799px) {
    .documentation-link,
    .redirect-link {
        font-weight: bold;
        display: inline-block;
        position: relative;
        color: var(--color-red-primary);
    }

    :is(.documentation-link, .redirect-link):after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--color-red-primary);
    }

    .img-company .img-siège-maif {
        width: 90vw;
    }
}

/*--------------------------------------------------------------
Organization chart
--------------------------------------------------------------*/
.tree-horizontal {
    margin-block: var(--spacing-40);
}

.tree, :is(ul, li) {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.tree {
    text-align: center;
}

.tree, .tree ul {
    display: table;
}

.tree ul {
    width: 100%;
}

.tree li {
    display: table-cell;
    padding-top: var(--spacing-10);
    vertical-align: top;
}

.tree li:before {
    outline: solid 1px var(--color-red-primary);
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.tree li:first-child:before {
    left: 50%;
}

.tree li:last-child:before {
    right: 50%;
}

.tree span {
    border: solid .1em var(--color-red-primary);
    border-radius: var(--br-10);
    display: inline-block;
    margin: 0 var(--spacing-5) var(--spacing-8);
    padding: var(--spacing-5) var(--spacing-8);
    position: relative;
    font-weight: bold;
}
  
/* The root node doesn't connect upwards */
.tree > li {
    margin-top: 0;
}
.tree > li:before,
.tree > li:after,
.tree > li > span:before {
    outline: none;
}

.info-tree {
    cursor: pointer;
}

@media (min-width: 800px) {
    .tree-horizontal {
        max-width: 100%;
        position: relative;
        text-align: center;
    }

    .tree-horizontal .tree .tree-title {
        font-size: var(--fs-22);
        color: var(--color-red-primary);
        border: solid 3px var(--color-red-primary);
    }

    .tree-horizontal .tree span {
        font-size: var(--fs-16);
        border: solid 2px var(--color-red-primary);
    }

    .tree ul:before,
    .tree span:before {
        outline: solid 1px var(--color-red-primary);
        content: "";
        left: 50%;
        position: absolute;
    }

    .tree ul:before {
        top: -.6em;
        height: .5em;
    }

    .tree span:before {
        top: -.6em;
        height: .5em;
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    .tree-horizontal {
        max-width: 50%;
        position: relative;
        text-align: center;
    }

    .tree-horizontal .tree .tree-title {
        font-size: var(--fs-12);
        color: var(--color-red-primary);
        border: solid 3px var(--color-red-primary);
    }

    .tree-horizontal .tree span {
        font-size: var(--fs-10);
        border: solid 2px var(--color-red-primary);
    }

    .tree ul:before,
    .tree span:before {
        outline: solid 1px var(--color-red-primary);
        content: "";
        left: 50%;
        position: absolute;
    }

    .tree ul:before {
        top: -.5em;
        height: .5em;
    }

    .tree span:before {
        top: -.95em;
        height: .7em;
    }
}
  
@media (max-width: 499px) {
    .tree-horizontal {
        max-width: 30%;
        left: -30px;
        position: relative;
        text-align: center;
    }

    .tree-horizontal .tree .tree-title {
        font-size: var(--fs-12);
        color: var(--color-red-primary);
        border: solid 3px var(--color-red-primary);
    }

    .tree-horizontal .tree span {
        font-size: var(--fs-10);
        border: solid 2px var(--color-red-primary);
    }

    .tree ul:before,
    .tree span:before {
        outline: solid 1px var(--color-red-primary);
        content: "";
        left: 50%;
        position: absolute;
    }

    .tree ul:before {
        top: -.5em;
        height: .5em;
    }

    .tree span:before {
        top: -1.2em;
        height: .95em;
    }
}

/*--------------------------------------------------------------
Role description
--------------------------------------------------------------*/
.role .role-title {
    margin-left: var(--spacing-50);
    margin-top: var(--spacing-60);
}

.role-description {
    display: flex;
    flex-direction: row;
    margin-bottom: var(--spacing-30);
    align-items: top;
}

.role .role-description p {
    text-align: justify;
}

.role .section-title p {
    text-align: justify;
}

.img-sinistre-squad,
.role-description ul {
    margin-top: var(--spacing-20);
}

.role-description-right {
    text-align: justify;
}

.role-description-right :is(ul li, ul .second-ul li) {
    margin-bottom: var(--spacing-10);
    display: flex;
    align-content: center;
    vertical-align: center;
    list-style-type: none;
}

.role-description-right :is(ul li .bx, ul .second-ul li .bx) {
    margin-bottom: var(--spacing-20);
    align-content: center;
    margin-right: var(--spacing-20);
}

.role-description-right :is(ul li p, ul .second-ul li p) {
    margin-bottom: var(--spacing-20);
    margin-block: 0;
    align-content: center;
}


.role-description-right ul .second-ul {
    margin-top: 0;
    margin-left: var(--spacing-30);
    list-style-type: none;
}

.sinistre-logo {
    max-width: max(60%, 200px);
}


@media (min-width: 800px) {
    .role-description-left {
        margin-right: var(--spacing-20);
    }
    
    .role-description-right {
        margin-left: var(--spacing-20);
        margin-right: var(--spacing-20);
    }
}

@media (min-width: 500px) and (max-width: 799px) {
    .img-sinistre-squad {
        display: none;
    }
}
  
@media (max-width: 499px) {
    .img-sinistre-squad {
        display: none;
    }
}
