/*--------------------------------------------------------------
Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: fit-content;
    background: url("../img/hero-bg.png") top center;
    z-index: 99;
    background-size: cover;
    background-attachment: fixed;
}

#hero:before {
    content: "";
    background: var(--color-hero-shadow);
    position: absolute;
    inset: 0 0 0 0;
    z-index: 1;
}

#hero .hero-section .hero-container {
    position: relative;
    z-index: 2;
    min-width: var(--spacing-300);
}

#hero .hero-section {
    margin-top: var(--spacing-250);
}

#hero .hero-section h1 {
    margin-top: var(--spacing-10);
    font-size: var(--fs-64);
    font-weight: bold;
    line-height: var(--lh-56);
    color: var(--color-white);
}

#hero .hero-section p {
    color: var(--color-white);
    margin-bottom: var(--spacing-50);
    font-size: var(--fs-26);
    font-family: var(--ff-secondary);
}

#hero .hero-section p span {
    color: var(--color-white);
    padding-bottom: var(--spacing-5);
    letter-spacing: var(--ls-1);
    border-bottom: 3px solid var(--color-red-primary);
}

@media (min-width: 1200px) {
    #hero .hero-container {
        margin-block: auto;
        margin-inline: auto;
    }

    #hero .hero-section h1 {
        font-size: clamp(45px, 5vw, 50px);
        line-height: var(--lh-36);
    }

    #hero .hero-section h2 {
        font-size: 18px;
        line-height: var(--lh-24);
        margin-bottom: var(--spacing-30);
    }
}

@media (min-width: 500px) and (max-width: 1199px) {
    #hero .hero-container {
        margin-block: auto;
        margin-inline: auto;
    }

    #hero .hero-section h1 {
        font-size: clamp(45px, 5vw, 50px);
        line-height: var(--lh-36);
    }

    #hero .hero-section h2 {
        font-size: var(--fs-18);
        line-height: var(--lh-24);
        margin-bottom: var(--spacing-30);
    }
}

@media (min-width: 300px) and (max-width: 499px) {
    #hero .hero-container {
        margin-block: auto;
        margin-inline: auto;
    }

    #hero .hero-section h1 {
        font-size: clamp(40px, 5vw, 45px);
        line-height: var(--lh-36);
    }

    #hero .hero-section h2 {
        font-size: var(--fs-18);
        line-height: var(--lh-24);
        margin-bottom: var(--spacing-30);
    }
}

@media (max-width: 299px) {
    #hero .hero-container {
        margin-block: auto;
        margin-inline: auto;
    }

    #hero .hero-section h1 {
        font-size: var(--fs-30);
        line-height: var(--lh-36);
    }

    #hero .hero-section h2 {
        font-size: var(--fs-10);
        line-height: var(--lh-24);
        margin-bottom: var(--spacing-30);
    }
}