/*--------------------------------------------------------------
General
--------------------------------------------------------------*/
html, body {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-primary);
  color: var(--color-black-sidebar);
  overflow-x: hidden;
}
  
main {
  margin-left: var(--spacing-300);
}
  
a, a:hover {
  color: var(--color-red-primary);
  text-decoration: none;
}

a::selection, p::selection, strong::selection, li::selection, br::selection, 
span::selection, div::selection, img::selection, h1::selection, h2::selection, 
h3::selection, h4::selection, h5::selection, h6::selection {
  background-color: var(--color-selection);
}
  
h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-secondary);
}

ul, li {
  text-decoration: none;
  list-style-type: none;
}

p {
  margin-block: var(--spacing-20);
}

.user-select-none {
  user-select: none;
}

* .section-title {
  margin-left: var(--spacing-30);
  margin-right: var(--spacing-20);
  margin-bottom:var(--spacing-20);
}

[class*="bx-"] {
  font-size: var(--fs-26);
}

.nav-link [class*="bx-"] {
  font-size: var(--fs-26);
  margin-right: var(--spacing-10);
}
  
/*--------------------------------------------------------------
Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 30px;
  bottom: 20px;
  z-index: 996;
  background: var(--color-black);
  width: 40px;
  height: 40px;
  border-radius: var(--br-50);
  transition: all 0.4s;
}

.back-to-top span {
  font-size: var(--fs-26);
  color: var(--color-white);
  line-height: 0;
}

.back-to-top:hover {
  background: var(--color-red-primary);
  color: var(--color-white);
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}
  
/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
#header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 99;
  transition: all 0.5s;
  padding-left: var(--spacing-10);
  background: var(--color-black);
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 100px;
  height: 100px;
  border: 4px solid var(--color-red-primary);
}

#header .profile h1 {
  font-size: var(--fs-26);
  margin: 0;
  padding: 0;
  font-weight: var(--fw-6);
  text-align-last: center;
  font-family: var(--ff-secondary);
}

#header .profile h1 a, #header .profile h1 a:hover {
  color: var(--color-white);
  text-decoration: none;
}

#header .profile .social-links {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: var(--spacing-10);
}
  
#header .profile .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-grey);
  color: var(--color-black);
  margin-right: var(--spacing-5);
  border-radius: var(--br-50);
  transition: 0.2s;
  width: 36px;
  height: 36px;
}

#header .profile .social-links a .bx {
  font-size: var(--fs-22);
  width: fit-content;
  height: fit-content;
}

#header .profile .social-links a:hover {
  background: var(--color-red-primary);
  color: var(--color-white);
  text-decoration: none;
}
  
@media (max-width: 1199px) {
  #header {
    left: -300px;
  }

  #main {
    margin-left: 0;
  }
}

/*--------------------------------------------------------------
Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu {
  padding-top: var(--spacing-40);
  padding-left: var(--spacing-20);
  z-index: 1;
}

.nav-menu * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
}

.nav-menu .nav-link, 
.nav-menu .nav-link:focus {
  display: flex;
  align-items: center;
  color: var(--color-grey);
  padding-inline: auto;
  margin-bottom: var(--spacing-30);
  transition: 0.3s;
  font-size: var(--fs-16);
}

.nav-menu .nav-link .bx {
  font-size: var(--fs-26);
  padding-right: var(--spacing-8);
  color: var(--color-grey);
}

.nav-menu .nav-link span {
  font-size: 16px;
  color: var(--color-grey);
}

.nav-menu .current span,
.nav-menu .current:focus span,
.nav-menu .nav-link:hover span,
.nav-menu li:hover > .nav-link span {
  color: var(--color-white);
  text-decoration: underline;
  text-underline-offset: 6px;
}

.nav-menu .nav-link:hover .bx,
.nav-menu .current .bx,
.nav-menu .current:focus .bx,
.nav-menu li:hover > .nav-link .bx {
  color: var(--color-red-primary);
  text-decoration: none;
}

/* Mobile Navigation */
[class*="mobile-nav-toggle"] {
  position: sticky;
  top: var(--spacing-20);
  border: 0;
  font-size: var(--fs-26);
  transition: all 0.4s;
  outline: none !important;
  background-color: var(--color-black);
  color: var(--color-white);
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  border-radius: var(--br-50);
  cursor: pointer;
}

.mobile-nav-toggle-open {
  left: 20px;
  z-index: 1;
}

#hero .mobile-nav-toggle-open {
  z-index: 98;
  background-color: var(--color-red-primary);
}

.mobile-nav-toggle-open:hover {
  background-color: var(--color-red-primary);
}

.mobile-nav-toggle-close {
  background-color: var(--color-red-primary);
  left: 220px;
  z-index: 100;
}

.mobile-nav-toggle-close:hover {
  background-color: var(--color-red-primary);
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active #header,
.mobile-nav-active #footer {
  left: 0;
}

.mobile-nav-active .back-to-top {
  pointer-events: none;
}
  
/*--------------------------------------------------------------
Sections General
--------------------------------------------------------------*/
section {
  padding-block: var(--spacing-60);
}

.section-bg {
  background: var(--color-section-bg);
}

.section-title:not(:first-child) {
  margin-top: var(--spacing-60);
}

.section-title h2 {
  font-size: var(--fs-30);
  font-weight: bold;
  margin-bottom: var(--spacing-20);
  padding-bottom: var(--spacing-20);
  position: relative;
  color: var(--color-red-primary);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-red-primary);
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}

@media (min-width: 980px) {
  section {
    padding-right: var(--spacing-20);
    padding-left: var(--spacing-20);
  }
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
#footer {
  padding: var(--spacing-10);
  color: var(--color-white);
  font-size: var(--fs-14);
  position: fixed;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 99;
  transition: all 0.5s;
  background: var(--color-black);  
  overflow-y: auto;
}

#footer .copyright {
  text-align: center;
}

#footer .copyright span {
  color: var(--color-red-primary);
}

@media (max-width: 1199px) {
  #footer {
    display: none;
  }
}

@media (max-height: 700px ) {
  #footer {
    display: none;
  }
}
